@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- */

@layer components {
  .header__banner_inset-shadow {
    -webkit-box-shadow: inset 0px 42px 35px 3px rgba(0, 0, 0, 0.23);
    box-shadow: inset 0px 42px 35px 3px rgba(0, 0, 0, 0.23);
  }
}

@layer base {
  html {
    font-family: "Vazir";
    scroll-behavior: smooth;
    overflow: hidden;
  }
}
